body {
    background-color: #ffffe0;
}
#history {
    font-family: Arial, sans-serif;
    display: block;
    align-content: center;
    max-width: 1400px;
    padding: 20px;
    margin: 20px 50px;
    background-color: #fff;
    border-radius: 10px;
}

#history h2 {
    color:#5C4033;
}

#history h3 {
    color: #5C4033;
}

#header{
    padding: 50px;
    margin: 50px;
    color: black;
    border-bottom: solid 5px #D4AF37;
}
 
#louis{
    color: #5C4033;
   
}
 
#riel{
   color: #5C4033;
}
 
#fun{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px;
    margin: 50px;
    color: black;
    border-bottom: solid 5px #D4AF37;
}
 
@media screen and(max-width:800px) {
    body{
        width: 100%;/* The width is 100%, when the viewport is 800px or smaller */
    }
}